$cell: 30px
.SeaBattle
  .battle-table
    margin: auto
    width: $cell * 10
    display: flex
    flex-wrap: wrap
    border-collapse: collapse
    div
      font-size: .7em
      //border: 1px solid silver
      width: $cell
      height: $cell
      align-items: center
      justify-content: center
      display: table-cell
      box-shadow:    1px 0 0 0 gray,    0 1px 0 0 gray,    1px 1px 0 0 gray,      1px 0 0 0 gray inset,    0 1px 0 0 gray inset
      span
        width: 33px
        height: 30px
        display: block
        background-size: cover
        background-repeat: no-repeat
    div.sunk
      background-image: radial-gradient(red 10%, transparent 40%, salmon 40%)
    div.hit
      background-color: red
    div.ship4
      background-color: darkcyan
    div.ship3
      background-color: green
    div.ship2
      background-color: blue
    div.ship1
      background-color: darkmagenta
    div.near
      background-color: silver
    div.miss
      background-image: radial-gradient(gray 10%, transparent 40%, white 40%)
