$cell: 30px
.SeaBattle
  .battle-table
    margin: auto
    width: $cell * 10
    display: flex
    flex-wrap: wrap
    div
      font-size: .7em
      border: 1px solid silver
      width: $cell
      height: $cell
      display: flex
      align-items: center
      justify-content: center
      span
        width: 33px
        height: 30px
        display: block
        background-size: cover
        background-repeat: no-repeat
    div.sunk
      background-image: radial-gradient(red 10%, transparent 40%, salmon 40%)
    div.hit
      background-color: red
    div.ship4
      background-color: yellow
    div.ship3
      background-color: green
    div.ship2
      background-color: blue
    div.ship1
      background-color: black
    div.near
      background-color: gray
    div.miss
      background-image: radial-gradient(gray 10%, transparent 40%, white 40%)
