.banners
  display: flex
  flex-wrap: wrap
.banner
  //border: 1px solid silver
  box-shadow: 0 0 10px silver
  margin: 5px 0
  width: 100%
  height: 230px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  img
    box-shadow: 0 0 10px silver

